* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Helvetica', sans-serif;
}

hr {
  width: 100%;
  margin: 50px 0;
}

h1, h2 {
  margin: 10px 0;
}

canvas {
  border: 1px solid #d3d3d3;
}

iframe {
    border: 1px solid black;
    width: 100%;
}

.output {
    background: #eee;
}
